<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gitlab + CI + openshift deployment experiment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table style="margin: 50px auto; text-align: center;" cellspacing="10">
    <tr>
        <th colspan="2" align="center">header dump</th>
    </tr>
    <tr th:each="header: ${headers}">
        <td th:text="${header.key}"/>
        <td th:text="${header.value}"/>
    </tr>
</table>
</body>
</html>